<h2>The First Component</h2>
<div>{{title}}</div>
<input type="text"  [value]="message">
<br/>
<div>{{message}}</div>
<br/>
<a [href]="url">DNC</a>
<br/>
<!--$event will be used to pass element's information-->
<input type="button" value="Click Me" (click)="display($event)"/>
<br/>
<input type="text" [(ngModel)]="name"/>
<br/>
 <div>
     {{name}}
 </div>
<br/>

<input type="text" [(ngModel)]="name"/>
<br/>
<div>
    {{name}}
</div>
<br/>
<input type="text" [(ngModel)]="name"/>
<br/>
<div>
    {{name}}
</div>